.cart {
  color: var(--neutral-dark);
  padding-block: 32px;
  font-size: var(--h5);
  .cart-list {
    display: grid;
    gap: 32px;
    .items {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 16px;
      margin-bottom: 10px;
      & img {
        display: flex;
        grid-column: span 3;
        width: 100%;
      }
      .info {
        grid-column: span 2;
        display: grid;
        gap: 12px;
        .num {
          display: flex;
          justify-content: space-between;
          align-items: center;
          .edit-num {
            display: flex;
            align-items: center;
            & img {
              height: 16px;
            }
            > div {
              padding-inline: 4px;
            }
          }
        }
      }
    }
    .checkout-area {
      display: grid;
      gap: 8px;
      .price {
        display: flex;
        justify-content: space-between;
      }
      .checkout {
        cursor: pointer;
        justify-content: center;
        align-content: center;
        text-align: center;
        padding: 8px;
        background: var(--primary);
        border-radius: 6px;
        border: 1px solid var(--neutral-dark);
      }
    }
  }
}
