.loginHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;
}

.loginForm {
  display: grid;
  gap: 32px;
  color: var(--neutral-dark);
  padding-block: 32px;
}

.formGroup label {
  display: block;
  margin-bottom: 8px;
}

.formGroup input {
  width: 100%;
  padding: 8px;
  border: 1px solid var(--neutral-dark);
  border-radius: 4px;
}

.formArea {
  display: grid;
  gap: 16px;
}

.loginButton {
  cursor: pointer;
  font-size: var(--h4);
  justify-content: center;
  align-content: center;
  text-align: center;
  padding: 8px;
  background: var(--primary);
  border-radius: 6px;
  border: 1px solid var(--neutral-dark);
}
