.marquee {
  position: absolute;
  left: -5%;
  top: 80%;
  rotate: -10deg;
}

.about {
  height: 100vh;
  display: flex;
  align-items: center;

  & p {
    color: var(--neutral-dark);

    font-size: 48px;
    width: 60%;
    padding: 12px;
  }
}
