.container {
  .cardWrapper {
    margin-bottom: 28px;
    min-height: 100%;
    width: calc((100% / 8));
    display: flex;
    border: 1px solid var(--neutral-dark);
    border-radius: 8px;

    .imgWrapper {
      display: flex;
      width: 100%;

      & img {
        height: 100%;
        width: 100%;
        object-fit: contain;
      }
    }
    & .expand:hover {
      background: var(--neutral-gray);
      border-radius: 8px;
    }

    .infoWrapper {
      width: 50%;
      height: 100%;
      padding: 20px;
      display: none;
      opacity: 0;
      flex-direction: column;
      justify-content: space-between;

      .productName {
        font-size: var(--h1);
      }

      .productInfo {
        display: grid;
        font-size: var(--h4);
        gap: 16px;
        padding-block: 32px;
      }

      .productOptions {
        display: flex;
        align-items: center;
        font-size: var(--h4);
        .productPrice {
          flex: 0;
        }

        .productNum {
          flex: 1;
          display: flex;
          gap: 8px;
          justify-content: center;
          align-items: center;
          > div {
            display: flex;
          }
        }

        & button {
          flex: 1;
          display: flex;
          justify-content: center;
          background: var(--primary);
          padding: 8px;
          border-radius: 6px;
          border: 1px solid var(--neutral-dark);
        }
      }
    }
  }
  @media (max-width: 1440px) {
    .cardWrapper {
      width: calc(100% / 7);
    }
  }
  @media (max-width: 768px) {
    .cardWrapper {
      width: calc(100% / 4);
    }
  }
  @media (max-width: 375px) {
    .cardWrapper {
      width: calc(100%);
      flex-direction: column;
      .infoWrapper {
        overflow-y: auto;
        width: 100%;
      }
    }
  }
}
