// .copntainer {
//   display: flex;
  .pointer {
    pointer-events: none;
    font-size: var(--h1);
    position: sticky;
    top: 100px;
    display: flex;
    justify-content: space-between;
    > div {
      width: 50%;
      display: flex;
      justify-content: space-between;
      margin-block: auto;
      margin-left: auto;
      padding-inline: 20px 0;
    }
  }
// }
