.spiritContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: var(--h1);
  color: var(--neutral-dark);

  min-height: 100vh;

  .imgContainer {
    display: flex;
    & img {
      width: 100% ;
      margin: 0 4px;
      opacity: 0;
    }
  }
  & .sripit {
    padding-block: 20px;
  }
}
