.spiritContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: var(--h1);
  color: var(--neutral-dark);

  min-height: 100vh;

  .imgContainer {
    display: flex;
    // flex-wrap: wrap;
    height: auto;

    & img {
      // width: 0%;
      // flex: 1;
    }
  }
  .sripit {
    padding-block: 20px;
  }
}
